<h2 class="col-md-offset-3 col-md-3">All Products</h2>
<h2 class="col-md-offset-3 col-md-3">Your Cart</h2>
<section class="container-fluid">
  <div class="row">
    <%= render partial: 'shared/product', locals: { products: @products, paginate: true } %>
    <div class="col-md-4 well col">
      <div class="row">
        <% if current_user && @orders_found %>
            <%= render partial: 'orders/cart', locals: { orders: @current_order, total: @total_price } %>
        <% else %>
            <div class="center">
              <p>Items in your shopping cart will display here</p>
            </div>
        <% end %>
      </div>
      <div class="row well">
        <p>something something dark side</p>
      </div>
    </div>
  </div>
</section>